{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 style="border:2px solid green; background-color:lavender; text-align:center">ADBMS Lab</h1>
<pre>
A DataBase Management System (DBMS) is a software package with computer programs that controls the creation, maintenance, and use of a database. 
It allows organizations to conveniently develop databases for various applications. A database is an integrated collection of data records, files, and other objects.
 A DBMS allows different user application programs to concurrently access the same database. 
DBMSs may use a variety of database models, such as the relational model or object model, to conveniently describe and support applications.
 It typically supports query languages, which are in fact high-level programming languages, dedicated database languages that considerably simplify writing database application programs. 
Database languages also simplify the database organization as well as retrieving and presenting information from it. 
A DBMS provides facilities for controlling data access, enforcing data integrity, managing concurrency control, and recovering the database after failures and restoring it from backup files, 
as well as maintaining database security.

Scope of DBMS
DBMS may become a complex software system and its development typically requires thousands of human years of development effort. 
Some general-purpose DBMSs such as Adabas, Oracle and DB2 have been upgraded since the 1970s.
 General-purpose DBMSs aim to meet the needs of as many applications as possible, which adds to the complexity. 
However, since their development cost can be spread over a large number of users, they are often the most cost-effective approach.
 On the other hand, a general-purpose DBMS may introduce unnecessary overhead. Therefore, many systems use a special-purpose DBMS
</pre>
{% endblock %}

