{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1style="border:2px solid green; background-color:lavender; text-align:center">Computer Technologies</h1>
<pre>
Today, computer technology is involved in almost every facet of human activity, yet this technology is still considered to be in its infancy. 
This observation is especially true for the use of computer technologies in the clinical environment.
 Computers have essentially revolutionized the practice of medicine by:

•
Providing completely new insights into the anatomy and physiology of the human organism through computerized imaging techniques.

•
Facilitating patient surveillance and the delivery of controlled medication in intensive-care units.

•
Assisting health professionals in various aspects of clinical decision making using advances in artificial intelligence technology.

•
Optimizing the collection, retrieval and display of a wide range of patient-related information through automation of the clinical laboratories and development of hospital information systems
 (Jenkins, 1978; Bronzino, 1982; Anbar, 1987; Shortliffe et al., 1990).
</pre>
{% endblock %}