{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="border:2px solid green; background-color:lavender; text-align:center">COOR</h1>
<pre>
Modern age is the age of science which
requires that every aspect, whether it pertains to natural
phenomena, politics, economics or any other field, should
be expressed in an unambiguous and precise form. A
phenomenon expressed in ambiguous and vague terms
might be difficult to understand in proper perspective.
Therefore, in order to provide an accurate and precise
explanation of a phenomenon or a situation, figures are
often used. The statement that prices in a country are
increasing conveys only an incomplete information about
the nature of the problem. However, if the figures of prices
of various years are also provided, we are in a better
position to understand the nature of the problem. In
addition to this, these figures can also be used to compare
the extent of price changes in a country vis-a-vis the changes
in prices of some other country. Using these figures, it might
be possible to estimate the possible level of prices at some
future date so that some policy measures can be suggested
to tackle the problem. The subject which deals with such
type of figures, called data, is known as Statistics.
The word ‘Statistics’ is probably derived from the Latin word
‘status’ or the Italian word ‘statista’ or the German word
Basic Statistics
3
‘statistik’, each of which means a ‘political state’. The word
‘Statistics’ is used in singular as well as in plural sense. As a
plural, statistics may be defined as the numerical data
relating to an aggregate of individuals and as a singular it is
defined as the science of collection, organization,
presentation, analysis and interpretation of numerical data.
1.2 Definition: Statistics has been defined differently by
various authors from time to time. One can find more than
hundred definitions in the literature but no definition can
give a complete picture of the fast growing subject of
Statistics. Important definitions are given below.
 It is the branch of science which deals with the collection,
classification and tabulation of numerical facts as the basis
for explanations, description and comparison of
phenomenon by Lovitt
 The science which deals with the collection, analysis and
interpretation of numerical data by Corxton and Cowden.
 The science of statistics is the method of judging collective,
natural or social phenomenon form the results obtained
from the analysis or enumeration or collection of estimates
by Kings.
 Statistics is a science of estimates and probabilities-Boddington
 Statistics is a branch of science, which provides tools
(techniques) for decision making in the face of uncertainty
(Probability) by Wallis and Roberts and this is the modern
definition of statistics which covers the entire body of
statistics.
</pre>
{% endblock %}

