{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 style="border:2px solid green; background-color:lavender; text-align:center">DCCN Lab</h1>
<pre>
Data Communication Network (DCN) Lab
The data communication network (DCN) lab supports teaching and research work in the field of data communications. 
In this lab students learn about RS 232 and its usage. Data transmission protocols such as ALOHA, CSMA, token ring, token BUS, CSMA/CA and CSMA/CD are implemented
 for packet communication between nodes connected to a common BUS. Students also implement the token passing access method for BUS and RING LAN.
 Ethernet controlling and switching technology are also studied.

In this lab, students implement the transmission protocols on LAN trainer system. 
Computers are available and configured as host and nodes to implement and study various LAN topologies like BUS, DUAL BUS, RING, STAR topologies. 
This lab is also equipped with serial and parallel communication systems. Stop and wait, Go and Back and selective/repeat protocols are also implemented for LAN.

Network simulator (NS2) software are installed on computers to simulate and analyse various network entities. 
CISCO-packet tracer and Wireshark open source packet analyser are aided in DCN lab for the research and project. 
Qualnet simulator software is used to test and simulate owned scalable network technology. 
Researchers may use these tools for planning and testing the behaviour of the of physical communication networks.
</pre>
{% endblock %}