{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="border:2px solid green; background-color:lavender; text-align:center">Internet Of Things</h1>
<pre>
It’s a physical object that connects to the Internet. It can be a fitness tracker, a thermostat, a lock or appliance – even a light bulb.

Imagine shoes that track your heartbeat… and can flag potential health problems. You don’t have to imagine – these “smart” shoes already exist!

How Will It Affect Me?
The Internet of Things has arrived and it’s going to introduce incredible opportunity over the next five years.
 And while smart things are exactly that, the IoT industry has a long way to go in terms of overall security.
 Many of today’s IoT devices are rushed to market with little consideration for basic security and privacy protections: “Insecurity by design.”

This puts you and everyone else at risk: from unwittingly being spied on or having your data compromised to being unable to lock your own home.
 You could even become part of a botnet that attacks the Internet. Your insecure webcam – along with millions of others – could be used to attack the power grid of an entire country.

From dental sensors that can monitor what a person eats to kitty litters that can track a cat’s every movement, it can be difficult to sort fact from fiction when it comes to the Internet of Things. 
Can you tell which is real and which is not?
</pre>
{% endblock %}