{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="border:2px solid green; background-color:lavender; text-align:center">JavaDs Lab</h1>
<pre>
To begin programming in Java, you need to install a Java Edition on your system. There are four main Java editions: 

Java Standard Edition (Java SE)
Java Enterprise Edition (Java EE)
Java Micro Edition (Java ME)
What is Java SE?
Java Standard Edition is the core Java programming platform.
 It contains all of the libraries and APIs that any programmer needs for java development.
 Open Java Development Kit(OpenJDK) is the free and open source implementation of Java SE.

Amazon Corretto is a no cost, multiplatform, production-ready distribution of OpenJDK. 
It can be used as a drop-in replacement for many Java SE distributions and comes with no-cost, long term support from Amazon.
 It lets you run the same environment in the cloud, on premises, and on your local machine.
</pre>
{% endblock %}
