{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="border:2px solid green; background-color:lavender; text-align:center">Major Project</h1>
<pre>
The Major Project is a core (mandatory) module, but is not taught but 'supervised'. It is the culmination of your studies and the final stage in the masters course. It offers you the opportunity to develop an expertise and head for your chosen career field. The Major Project will consolidate the interests and knowledge you have accumulated during the course through an independent research project resulting in a 12,000 word dissertation.

You will start to study the core module Research Design, which prepares you for the planning of the major research project. You will design and submit your research proposal in the Spring term. On the basis of your proposal, you will be assigned a research supervisor who will help to define your research objectives and methods.

The project may be primarily theoretical or practical in content and approach. Part-time students may undertake projects linked to their own professional work. The projects will take many forms, but there will be common elements on which assessment will be based:

Formulation of Objectives
Planning and Organisation
Investigation and Research
Analysis and Evaluation
If you wish to undertake a Project which requires research visits in a country other than your own, you will need to demonstrate the relevant language skills at an appropriate level.

Full-time students will normally complete their Major Project by the September 15th at the end of the course, and part-time students by the September 15th at the end of year 2.
</pre>
{% endblock %}