{% extends 'abc.html' %}

{% block title %}MCA101 Page{% endblock %}

{% block content %}
<marquee>
<h1  style="border:2px solid green; background-color:skyblue; text-align:center;">Welcome to the MCA101 Page!</h1>
</marquee>
<h2 style="background-color:pink;">This content is coming from MCA101.html and it is Discrete mathematics.</h2>
<pre style="background-color:lavender;">Discrete mathematics is the study of mathematical structures that are fundamentally 
discrete rather than continuous.
 It focuses on objects that can be counted or have distinct, separate values, 
unlike continuous mathematics which deals with smooth, unbroken quantities.
 It's crucial in computer science, algorithms, cryptography, and more. 
<h1>Key Topics:</h1>
Discrete mathematics encompasses various areas, including:
Set theory: The study of collections of objects. 
Graph theory: The study of relationships between objects represented as nodes and edges. 
Logic: Deals with reasoning and the truth or falsity of statements. 
Combinatorics: The study of counting and arranging objects. 
Number theory: The study of properties and relationships of numbers. 
<h1>Applications:<h1>
Discrete mathematics is crucial in:
Computer Science: Algorithms, data structures, database theory, 
programming languages, and more. 
Cryptography: Used in encryption and secure communication. 
Operations Research: Helps in optimizing logistics, scheduling,
 and resource allocation. 
Other Fields: Discrete mathematics principles are also used in areas like linguistics, 
economics, and social sciences. 
</pre>
{% endblock %}