{% extends 'abc.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 style="border:2px solid green; background-color:lavender; text-align:center">operating system</h1>

<pre>
An operating system (OS) is a foundational software that manages computer hardware and software resources, acting as an interface between the user and the hardware. It provides the environment for running applications and managing the computer's resources efficiently. 
Key Aspects of Operating Systems:
Interface: The OS is the interface between the user and the computer's hardware, handling communication and resource allocation. 
Resource Management: It manages essential resources like CPU, memory, and input/output devices. 
Process Management: The OS manages the creation, execution, and termination of processes (running programs). 
Memory Management: It allocates and deallocates memory to different processes. 
File System Management: The OS manages files and directories on the storage devices. 
Security: The OS provides security measures to protect system resources and prevent unauthorized access. 

</pre>
{% endblock %}